<div class="calendar">
  <div class="header">
    <button class="btn btn-primary" (click)="mostrarMesAnterior()">&lt;</button>
    <h2>{{ mesActual | date: 'MMMM y' }}</h2>
    <button class="btn btn-primary" (click)="mostrarMesSiguiente()">&gt;</button>
  </div>
  <div class="days">


      <div class="day-label">Lunes</div>
      <div class="day-label">Martes</div>
      <div class="day-label">Miércoles</div>
      <div class="day-label">Jueves</div>
      <div class="day-label">Viernes</div>
      <div class="day-label">Sábado</div>
      <div class="day-label">Domingo</div>
    </div>
    <div class="moht-days">
      <div *ngFor="let dia of dias" [ngClass]="{'day': true, 'day-clicked': diaSeleccionado === dia}" (click)="seleccionarFecha(dia); mostrarComponenteFlotante($event, dia)">
        {{ dia }}
      </div>
      
     
    </div>
    <div class="flotante" *ngIf="mostrarFlotante" [style.left]="flotanteLeft" [style.top]="flotanteTop">
      <!-- Contenido del componente flotante -->
      <app-flotante></app-flotante>
    </div>
</div>


<!-- Muestra el componente flotante y ajusta su posición -->
