  @font-face {
    font-family: "Inter";
    src: url("./assets/Inter-VariableFont_slnt\,wght.ttf") format("opentype");
  }
  @import "../node_modules/angular-calendar/css/angular-calendar.css";
  @import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
  
body {
 
    font-family: 'Inter', 'arial', sans-serif;
}